---
title: Welcome
---

<h1><%= title %></h1>

<h2>Getting started</h2>

<p>
  <strong><code>rules.rb</code>:</strong>
  The routing rules are defined in this file.
</p>

<p>
  <strong><code>setup.rb</code>:</strong>
  Plugins, gems, etc can be configured in this file.
</p>

<p>
  <strong><code>data.yml</code>:</strong>
  The keys defined in this file are accessible in every file that you author.
</p>

<p>
  <strong><code>config.yml</code>:</strong>
  The keys defined here are used to change the behavior of the app.
  Many of the keys are passed directly into the initializers in
  <code>setup.rb</code>.
</p>

<h2>Links</h2>

<ul>
  <li><a href="https://github.com/zachahn/munge">Munge homepage</a></li>
  <li><a href="https://github.com/zachahn/munge/issues">Munge issues</a></li>
  <li><a href="https://rubygems.org/gems/munge">Gem homepage</a></li>
</ul>
